<%- include('header') %> 
<body class="color-change-5x">
    <div class="container heartbeat">
    <h1>Welcome <%= session.name %> to Backend E-commerce </h1>
    </div>
</body>


    
    

<%- include('footer') %> 