<%- include('header') %> 
<div class="container">
<div class="alert alert-success mt-3 h4"> <span class="material-symbols-outlined material-icon">
    check_circle
    </span> บันทึกข้อมูลการชำระเงินเสร็จสิ้น </div>
</div>
<%- include('footer') %> 